@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Roboto+Mono:ital,wght@1,300&display=swap');

a {
    font-size: 35px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


nav {
	max-width: 700px;
	margin: 1rem auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    padding: 35px;
    font-family: "Roboto";
}

nav a:hover {
    background-color: lightgrey;
    color: white;
}

header {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  font-size: larger;
}

.logo {
    width: 150px;
    height: 125px;
}

#hero {
    position: relative;
}

#hero-box {
    position: relative;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero-msg .join {
    display: inline-block;
    background-color: #396E94;
    color: white;
    padding: 15px 30px;
    font-size: 24px;
    text-decoration: none;
    border-radius: 5px;
}

#hero-msg h4 {
    margin-top: 20px;
    font-size: 18px;
}

footer {
  text-align: center;
  background-color: blue;
  color: white;
  padding: 2rem;
  font-size: smaller;
}
 
footer span {
  color: white;
  font-size: 15px;
  text-align: center;
}

body {
    background-color: white;
}

h1, h4 {
    font-family: "Roboto";
    font-size: 30px;
    color: black;
    text-align: center ;
}


.Description {
    text-align: center;
    font-family: "Roboto";
    font-size: 1.4em;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
}

.hosue_images {
    width: 400px;
}
/* -----Place Holder -----*/

.ex8 .parent {
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}

  .ex8 .visual {
    height: 100px;
    width: 100%;
  }

  .ex8 .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }

  .ex8 h3 {
    margin: 0
  }

  /*---Grid Placeholder---*/
  :root {
    --main-radius: 20px;
    --main-padding: 20px;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }
  
  .container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 1.5fr 1.5fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas:
    
      "spotlight spotlight spotlight"
      "news business weather";
     
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    color: #004d40;
    text-align: center;
  }
  

  #spotlight {
    background: #84ffff;
    grid-area: spotlight;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    padding-bottom: 0cap;
  }
  
  /* #event {
    background: #18ffff;
    grid-area: s;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  */
  #news {
    background: #6fffd2;
    grid-area: news;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #business {
    background: #64ffda;
    grid-area: business;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
  #weather {
    background: #73ffba;
    grid-area: weather;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
  }
  
 
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: blue;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}
/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}
  

  
 
  