/* Media query for larger views */
@media screen and (min-width: 768px) {
    main {
      width: 80%;
      margin: 0 auto;
    
    }
  
    nav {
      display: block;
    }
  
    nav ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

   
    main div.info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;

    }
    main h1 {
      grid-column: span 2;
      text-align: center;

    }
  
    #hamburgerBtn {
      display: none;
    }
  }
  
  .hero {
    position: relative;
}


.hero img {
width: 100%;
height: auto;
object-fit: cover;
}

.hero span {

  position: absolute;
	top: 20px;
	left: -70px;
	background: radial-gradient(#fff, #4D5B97);
	border: 1px solid rgba(0,0,0,.75);
	padding: .3rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.75;

}